/* VARIABLES */
:root {
  --vert: #1A6B3A;
  --orange: #F59E0B;
  --rouge: #EF4444;
  --fond: #F9FAFB;
  --blanc: #FFFFFF;
  --gris: #6B7280;
  --gris-clair: #E5E7EB;
  
}

/* BODY */
body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: var(--fond);
  max-width: 430px;
  min-height: 100vh;
  color: #111827;
  
}

/* HEADER */
header {
  text-align: center;
  padding: 16px 12px 8px;
  font-size: 22px;
  font-weight: bold;
  color: var(--vert);
}

/* BOUTON PRINCIPAL */
.btn-principal {
  background-color: var(--vert);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 12px;
  width: 100%;
  font-size: 15px;
  cursor : pointer;
}

/* BOUTON SOS */
.btn-sos {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--rouge);
  color: white;
  font-size: 24px;
  border: none;
  cursor : pointer;
  box-shadow: 0 0 0 18px rgba(239, 68, 68, 0.15),
              0 0 0 36px rgba(239, 68, 68, 0.08);

}

/* BADGES */
.badge-vert {
  background-color: var(--vert);
  color: white;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  
}

.badge-orange {
  background-color: var(--orange);
  color: white;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  

}

.badge-rouge {
  background-color: var(--rouge);
  color: white;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}

.badge-gris {
  background-color: #9CA3AF;
  color: white;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}

/* CARTE INFO */
.carte-info {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  background-color: var(--orange);
}

/* INPUTS */
input,
select,
textarea {
  width: 100%;
  padding: 11px 12px;
  margin: 6px 0 12px;
  border-radius: 10px;
  background-color: #FCFCFC;
   box-sizing: border-box;
  font-size: 14px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
  display: block;
  margin-top: 8px;
}

input[type="range"] {
  padding: 0;
  margin: 8px 0 16px;
}


/* NAVBAR */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #E5E7EB;
  box-sizing: border-box;
}
